@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/minireset";
@import "node_modules/bulma/sass/base/generic";

@import "node_modules/bulma/sass/elements/button";
@import "node_modules/bulma/sass/elements/form";
@import "node_modules/bulma/sass/elements/title";

@import "node_modules/bulma/sass/grid/_all";

@import "node_modules/bulma/sass/components/message";

.wrapper {
  margin-left: 2em;
  margin-top: 2em;
}

header {
  margin-bottom: 2em;
}

.applications {
  margin-top: 2em;

  .application-name {
    text-align: left;
  }
}

.machines {
  margin-top: 2em;
}
